*{
    background-color:rgba(0, 0, 0, 0);
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 20px ;/* Align items to the start of the parent container */
  }
  
  ul li {
    display: inline-block; /* Only take the width of the content */
  }
  
  ul li a {
    display: inline-block; /* Apply the same to the links */
    text-align: center;/* Example background color */
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }
 
  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    min-width: 1366px; /* Use flexbox for layout *//* Full height of the viewport */
  }
  
  .sidebar {
    width: 250px; /* Width of the sidebar */
    color: white; /* Text color in sidebar */
    padding: 10px; /* Padding inside sidebar */
    position: fixed; /* Keep sidebar fixed */
    overflow-y: auto; /* Enable scrolling if needed */
  }
  
  .content {
  /* Padding for content area */
    flex-grow: 1; /* Allow content to take remaining space */
    overflow-y: auto; /* Enable vertical scrolling for content */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-left: -395px;
  }
  
  .hovered {

   color: black;
  }
    .hover-underline-animation {
      display: inline-block;
      position: relative;
    }
    
    .hover-underline-animation::after {
      content: attr(data-content);
      position: absolute;
      width: 500%;
      transform: scaleX(0);
      left: -20px;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
      font-size: 20px;
      color: white;
      border-radius: 3px;

     /* filter: blur(5px);
      z-index: 0;*/

    }
    
    .hover-underline-animation:hover::after {
      transform: translateX(50px);
    }
    
    
    .hover-underline-animation {
      display: inline-block;
      position: relative;
      transition: opacity 0.25s ease-out; /* Add transition for smooth effect */
    }
    
    .hover-underline-animation:hover {
      color: black;/* Completely hide the icon */
    }