<main class="main-container">
    <!--  Inspired by a tutorial by Mary Lou https://tympanus.net/codrops/2020/03/11/background-scale-hover-effect-with-css-clip-path/ 
  -->
    <div class="text text--left">Team Lead Mr.Jass 😁</div>
    <div class="items-container" >
      <div class="item item--forest" >
        <div class="item__screen item__screen--full"></div>
        <div class="item__screen item__screen--clip"></div>
      </div>
  
      <div class="item item--girl" >
        <div class="item__screen item__screen--full"  ></div>
        <div class="item__screen item__screen--clip" ></div>
      </div>
    </div>
    
   <br> 
    
    <div class="text text--right">who's the fairest of them all?</div>
  </main>
  <main class="main-container " style="margin: 150px 0px 150px 0px;">
    <!--  Inspired by a tutorial by Mary Lou https://tympanus.net/codrops/2020/03/11/background-scale-hover-effect-with-css-clip-path/ 
  -->
    <div class="text text--left">Our Backend Devloper Mr. Deepanshu 😀</div>
    <div class="items-container" >
      <div class="item item--forest-deep" >
        <div class="item__screen item__screen--full"></div>
        <div class="item__screen item__screen--clip"></div>
      </div>
  
      <div class="item item--girl" >
        <div class="item__screen item__screen--full" ></div>
        <div class="item__screen item__screen--clip" ></div>
      </div>
    </div>
    
    
    <div class="text text--right">who's the fairest of them all?</div>
  </main>