<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
  style="max-height: 535px; overflow: hidden"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
     <img
        src="assets/home.jpeg"
        class="d-block w-100"
        alt="homepage"
        style="max-height: 535px; object-fit: cover"
      />
      <div
        class="carousel-caption d-flex flex-column justify-content-center align-items-center"
        style="top: 0; bottom: 0; background-color: rgba(0, 0, 0, 0)"
      >
        <h2 style="background-color: rgba(0, 0, 0, 0); margin-bottom: 20px">
          WellCome To Our Home Page
        </h2>
        <p style="background-color: rgba(0, 0, 0, 0)">
          Some representative placeholder content for the first slide Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda
          harum tempora excepturi.
        </p>
        <button type="button" class="btn btn-outline-light"> <a style="background-color: rgba(0, 0, 0, 0);" routerLink="/">Lounch</a></button>
      </div>
    </div>
  </div>
</div>
