<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
  style="max-height: 535px; overflow: hidden"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/home.jpeg"
        class="d-block w-100"
        alt="homepage"
        style="max-height: 535px; object-fit: cover"
      />
      <div
        class="carousel-caption d-flex flex-column justify-content-center align-items-center"
        style="top: 0; bottom: 0; background-color: rgba(0, 0, 0, 0)"
      >
        <h2 style="background-color: rgba(0, 0, 0, 0); margin-bottom: 20px">
          WellCome To Our Home Page
        </h2>
        <p style="background-color: rgba(0, 0, 0, 0)">
          Some representative placeholder content for the first slide Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda
          harum tempora excepturi.
        </p>
        <button type="button" class="btn btn-outline-light">
          <a style="background-color: rgba(0, 0, 0, 0)" routerLink="/"
            >Lounch</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
<section class="container">
  <section class="wrapper">
    <div class="one"></div>
    <div class="one1"></div>
    <div class="one2"></div>
    <div class="one3"></div>
    <div class="one4"></div>
    <div class="one5"></div>
    <div class="one6"></div>
    <div class="one7"></div>
    <div class="one8"></div>
    <div class="one9"></div>
    <div class="one10"></div>
    <div class="one11"></div>
    <div class="one12"></div>
    <div class="one13"></div>
    <div class="one14"></div>
    <div class="one15"></div>
    <div class="one16"></div>
    <div class="one17"></div>
    <div class="one18"></div>
    <div class="one19"></div>
    <div class="one20"></div>
    <div class="one21"></div>
    <div class="one22"></div>
    <div class="one23"></div>
    <div class="one24"></div>
    <div class="one25"></div>
    <div class="one26"></div>
    <div class="one28"></div>
    <div class="one29"></div>
    <div class="one30"></div>
    <div class="one31"></div>
    <div class="one32"></div>
    <div class="one33"></div>
    <div class="one34"></div>
    <div class="one35"></div>
    <div class="one36"></div>
    <div class="one37"></div>
    <div class="one38"></div>
    <div class="one39"></div>
    <div class="one40"></div>
    <div class="one41"></div>
    <div class="one42"></div>
    <div class="one43"></div>
    <div class="one44"></div>
    <div class="one45"></div>
    <div class="one46"></div>
    <div class="one47"></div>
    <div class="one48"></div>
    <div class="one49"></div>
  </section>
</section>
